/* body{
    padding:0;
    margin: 0;
}

.leader_header_1{

    position: absolute;
    width: 1280px;
    height: 475px;
    left: 0px;
    top: 0px;
    background: linear-gradient(251.57deg, #0066FF 31.76%, rgba(0, 102, 255, 0) 172.86%);
    border-radius: 0px 0px 25px 25px;
}

@font-face{
    font-family: 'BebasNue';
    src: url('../fonts/BebasNeue.ttf');
}

.leader_header_1 h1{
    position: absolute;
    width: 413px;
    height: 115px;
    left: 423px;
    top: 140px;

    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 115px;
    text-transform: capitalize;
    color: #000917;
    
}

h1{
    font-family: 'BebasNue';
}


.inptgrp{
width: 200px;
display: flex;
position: absolute;

flex-direction: row;
}


@keyframes scaler{
    0%{
        transform: scaleX(0);
        opacity: .4;
    }
    
    100%{
        transform: scaleX(1);
        opacity: 1;
    }
}

.navbar{
    position: relative;
    top:-200px;
}

.leader_header_1_p{
    position: absolute;
width: 756px;
height: 28px;
left: 262px;
top: 262px;

font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
 identical to box height 
color: #000000;
}

.rotLogo{
    width: 300px;
    height: 200px;
}


.sphere1{
    position: absolute;
    width: 356.1px;
    height: 356.1px;
    left: -100px;
    top: 40px;
    z-index: -1;
    border-radius: 200px;
    background: linear-gradient(249.53deg, #FF5555 -35.98%, rgba(0, 77, 192, 0) 134.25%);
    transform: rotate(124.77deg);
}
.sphere2{
    position: absolute;
width: 356.1px;
height: 356.1px;
left: 133.09px;
top: -178.28px;
border-radius: 200px;
background: linear-gradient(249.53deg, #FF5555 -35.98%, rgba(0, 77, 192, 0) 134.25%);
transform: rotate(60.97deg);
}

.sphere3{
    
    position: absolute;
    width: 144px;
    height: 144px;
    left: 430px;
    top: 70px;
    border-radius: 200px;
    background: linear-gradient(249.53deg, #FF5555 -35.98%, rgba(0, 77, 192, 0) 134.25%);
}

.sphere4{
    
position: absolute;
width: 144px;
height: 144px;
left: 857px;
top: 209px;
border-radius: 200px;
background: linear-gradient(249.53deg, #FF5555 -35.98%, rgba(0, 77, 192, 0) 134.25%);
}

.sphere5{
    
position: absolute;
width: 409px;
height: 409px;
left: 929px;
top: -9px;
border-radius: 200px;
background: linear-gradient(233.18deg, #FF2020 -45.38%, rgba(255, 85, 85, 0) 105.99%);
}

.rotLogo img{
    width: 150px;
    height: 150px;
}


 .navlinks{
    position: absolute;
    width: 600px;
    height:50px;
    left: 700px;
    top:20px;
    display: flex;
    flex-direction: row;
    
}

.header_inputs{
    display: flex;
    flex-direction: row;
    width: 610px;
    position: absolute;
    top:410px;
    
    background: rgba(173, 215, 242, 0.3);
     border-radius: 25px;
}

.header_inputs Button{
border-radius: 25px;
width: 300px;
}

.first{
    width: 300px;
    height: 50px;
    left: 4px;
    top: 3px;
    outline:none;
    background: #FF5555;
    border-radius: 25px;
}

.second{
    width: 300px;
    height: 50px;
    left: 4px;
    top: 3px;
    outline: none;
    border:none;
    background: rgba(173, 215, 242, 0.3);
    border-radius: 25px;
}


.leader_header_1 .navlinks li{
    list-style: none;
    margin-left: 40px;
}

.leader_board_footer{
    position: absolute;
    width: 1280px;
    height: 287px;
    left: 0px;
    top: 1145px;
    background: #000917;
}

.footer_text{
    position: absolute;
width: 219px;
height: 115px;
left: 531px;
top: 86px;

font-family: Bebas Neue;
font-style: normal;
font-weight: normal;
font-size: 66px;
line-height: 115px;
text-transform: capitalize;
text-align: center;
color: #ADD7F2;

}

.leader{

    position: relative;
    top:500px;
    left:auto;
    height: 700px;
}


.listgrpcontainer-item{
    padding: 0%;
    width: 310px;
    height: 105px;
}

.bttngrp Button{
background-color: #0066FF;
width: 200px;
top:170px;
border-radius: 20px;
} */

.main_div {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.leader_header_1 {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: linear-gradient(
    251.57deg,
    #0066ff 31.76%,
    rgba(0, 102, 255, 0) 172.86%
  );
  border-radius: 0px 0px 35px 35px;
}
.rotLogo img {
  width: 13vh;
  height: 13vh;
}

.speherecontainer {
  background-color: brown;
}
.sphere1 {
  background-color: brown;
}
